html,
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", arial, sans-serif;
  background: #0d1014;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a,
a:visited {
  color: inherit;
}

i {
  cursor: pointer;
}

.sidebar-collapsed {
  width: 70px !important;
}

.header {
  width: 100%;
  position: fixed;
  top: 0px;
  height: 50px;
  background: #3e7dce;
  z-index: 3;
  color: #fff;
}

.popup {
  position: absolute;
  z-index: 4;
  margin: 100px auto;
  left: 0;
  right: 0;
  background: #232931;
  border-radius: 20px;
  box-shadow: -1px 1px 5px 5px rgba(0, 0, 0, 0.8);
  overflow: auto;
  text-align: center;
  padding-bottom: 30px;
  width: 300px;
}

.popup h2 {
  background: #3e7dce;
  text-align: center;
  margin-top: 0;
  padding: 3px;
  color: #fff;
}

.popup input {
  margin: 5px;
  border-radius: 10px;
  border: none;
  height: 25px;
  width: 200px;
  text-align: center;
  padding: 0;
}

.popup #submit {
  background: #4ecdc4;
  margin-top: 15px;
}

.popup #minutes,
.popup #seconds,
.popup #label {
  width: 92px;
}

.popup #label {
  color: #fff;
  background: #232931;
  margin-top: 0px;
  cursor: initial;
}

.popup form {
  color: #fff;
}

input:invalid {
  border: 2px solid #f86565;
}

input {
  cursor: pointer;
}

input[type="text"],
input[type="number"] {
  cursor: text;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="reset"] {
  background: #fff;
}

.menu,
.logout {
  font-size: 24px;
  padding: 12px;
  height: 24px;
  float: right;
  margin-left: -20px;
}

.menu {
  float: left;
  margin-left: 4.2px;
}

.container {
  margin: 0;
  margin-top: -15px;
  padding: 15px 0 0 0;
  overflow: hidden;
}

.sidebar-background {
  background: #232931;
  box-shadow: -17px 2px 8px 21px rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 135px;
  margin-left: -10px;
  position: fixed;
  z-index: 1;
  transition: 0.5s all ease-out;
}

.sidebar {
  width: 135px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: -10px;
  color: #ededed;
  transition: 0.5s all ease-out;
  z-index: 2;
}

.nav-list {
  padding-top: 62px;
}

.nav-list .nav-item {
  display: flex;
  position: relative;
  padding: 10px 25px;
  user-select: none;
  height: 25px;
}

.nav-list .nav-item .icon {
  font-size: 25px;
}

.text {
  margin-left: 10px;
  font-size: 16px;
  opacity: 0;
  transition: 0.5s opacity ease-out;
  vertical-align: middle;
}

.bar-text {
  background: #232b34;
  width: 100%;
  height: 17px;
  color: white;
  position: absolute;
  float: right;
  padding: 4px 9px;
  font-size: 16px;
  right: 0;
  text-align: right;
  z-index: 0;
}

progress,
progress[role] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-size: auto;
  background-color: #232b34;
  height: 25px;
  width: 100%;
  margin: 0 0 0 9px;
  z-index: 1;
}

.timer-list {
  margin: 70px 90px 0px 50px;
  transition: 0.5s all ease-out;
}

.timer {
  height: 25px;
  position: relative;
  margin-bottom: 20px;
}

.progress::-webkit-progress-value {
  border-radius: 0 10px 10px 0;
  transition: 0.5s all ease-out;
}

.timer ::-webkit-progress-bar {
  background: #232b34;
}

.timer ::-moz-progress-bar {
  border-radius: 0 10px 10px 0;
}

.timer ::progress-value {
  animation: bar-fill 2s;
  width: 0px;
  transition: 0.5s all ease-out;
}

.timer:nth-child(3n - 1) .timer-bg {
  color: #ff9e2c;
}

.timer:nth-child(3n - 1) .timer-bg::-webkit-progress-value {
  background: #ff9e2c;
}

.timer:nth-child(3n - 1) .timer-bg::-moz-progress-bar {
  background: #ff9e2c;
}

.timer:nth-child(3n + 1) .timer-bg {
  color: #4ecdc4;
}

.timer:nth-child(3n + 1) .timer-bg::-webkit-progress-value {
  background: #4ecdc4;
}

.timer:nth-child(3n + 1) .timer-bg::-moz-progress-bar {
  background: #4ecdc4;
}

.timer:nth-child(3n) .timer-bg {
  color: #ff6b6b;
}

.timer:nth-child(3n) .timer-bg::-webkit-progress-value {
  background: #ff6b6b;
}

.timer:nth-child(3n) .timer-bg::-moz-progress-bar {
  background: #ff6b6b;
}
