<div class="container">
  <div class="sidebar-background sidebar-collapsed"></div>
  <div class="sidebar sidebar-collapsed">
    <ul class="nav-list">
      <li class="nav-item">
        <i class="icon ri-home-6-line"></i>
        <span class="text">Work</i></span>
      </li>
      <li class="nav-item">
        <i class="icon ri-notification-3-line"></i>
        <span class="text">School</i></span>
      </li>
      <li class="nav-item">
        <i class="icon ri-message-3-line"></i>
        <span class="text"
          >Facebookerist</i
        ></span>
      </li>
    </ul>
  </div>
  <ul class="timer-list">
    <span class="bar-text">21:01:20</span>
    <li class="timer">
      <progress class="tool progress timer-bg" max="100" value="100" data-tip="Work" data-tip="WORK"> </progress>
    </li>
    <span class="bar-text">00:00:30</span>
    <li class="timer">
      <progress class="tool progress timer-bg" max="100" value="97" data-tip="WORK"> </progress>
    </li>
    <span class="bar-text">21:01:20</span>
    <li class="timer">
      <progress class="tool progress timer-bg" max="100" value="100" data-tip="WORK"> </progress>
    </li>
  </ul>
</div>
