<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>MultiTimer</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.3.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <div class="header">
      <i class="menu ri-menu-line"></i>
      <i class="options ri-settings-5-fill"></i>
      <i class="edit ri-edit-circle-fill"></i>
      <i class="pause ri-pause-circle-fill"></i>
    </div>
    <%= yield %>
    <script  src="./script.js"></script>
  </body>
</html>
